[Unit]
Description=ARGVUS Desktop Session
Documentation=man:systemd.special(7)
PartOf=graphical-session.target
Wants=argvus-session-prepare.service
Wants=argvus-wallpaper.service
Wants=argvus-shell.service
Wants=argvus-taskbar.service
Wants=argvus-widget-telemetry.service
Wants=argvus-dunst.service
Wants=argvus-hypridle.service
Wants=argvus-polkit.service
Wants=argvus-snappy-switcher.service
Wants=argvus-clipboard-text.service
Wants=argvus-clipboard-image.service
Wants=argvus-keyboard-layout.service
Requires=argvus-session-prepare.service
After=graphical-session-pre.target graphical-session.target argvus-session-prepare.service
